body {
  background: orange;
  font-family: "Lily Script One";
}

p {
  color: white;
}

.Home {
  color: blue;
}
.ability_container {
  width: 100%;
}
.ability_container p {
  width: 100%;
  font-size: 20px;
}
.ability_container h1 {
  font-size: 25px;
  color: white;
  text-decoration: underline;
}

button {
  background-color: royalblue;
  color: white;
  padding: 5px;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 200px;
  height: 300px;
  perspective: 500px;
  margin: 10px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

/* .card__face--front {
  background: rgb(206, 206, 240);
  transform: rotateY(180deg);
}

.card__face--back {
  background: rgb(206, 206, 240);
  transform: rotateY(180deg);
} */

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px black;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: red;
  color: red;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
  border-style: solid;
  border-color: black;
  border-width:medium;
}

.back {
  background: black;
  transform: rotateY(180deg);
}

.cardContainer {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.front p {
  font-size: 30px;
}

.front img {
  width: 200px;
  align-items: center;
  padding-top: 20px;
  width: 170px;
}

.pokeball {
  float: inherit;
  width: 100px;
}
