body {
  background-color: black;
  color: white;
  padding: 25px;
}

button {
  padding: 5px;
}

.Home {
  color: blue;
}


img {
  height: 200px;
}

#peoplelist {
  display: flex;
  flex-wrap: wrap;
}

#main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
